body {background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

div{text-align: center;
    display: flex;
}

.box { width: 350px; 
    height: 550px; 
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}

.QR {width: 310px; 
    height: auto; 
    border-radius: 9%;
    padding: 20px 20px 25px 20px;
}

.ppal{font-family: 'Outfit', sans-serif; 
    font-size: 24px; 
    font-weight: 700; 
    width: 280px;
    color:hsl(218, 44%, 22%);
}

.texto{font-family: 'Outfit', sans-serif; 
    font-size: 16px;
    font-weight: 400; 
    color:hsl(220, 15%, 55%);
    margin-top: 25px;
    width: 280px;
}

span {display: flex;
    margin-top: 45px;
    font-family: 'Outfit', sans-serif; 
    font-size: 12px; 
}

a { color: hsl(219, 44%, 51%);
    text-decoration: none; 
}
