body {background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {display: flex;
    justify-content: center;
}

div{text-align: center;
    width: 170px;
    display: flex;
    /* align-items: center; */
}

.box { width: 220px; 
    height: 340px; 
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.QR {width: 200px; 
    height: auto; 
    border-radius: 10%;
    padding: 10px;
}

.ppal{font-family: 'Outfit', sans-serif; 
    font-size: 15px; 
    font-weight: 700; 
    width: 180px;
    color:hsl(218, 44%, 22%);
}

.texto{font-family: 'Outfit', sans-serif; 
    font-size: 12px;
    font-weight: 400; 
    color:hsl(220, 15%, 55%);
    margin-top: 10px;
    width: 200px;
}

.attribution {font-family: 'Outfit', sans-serif; 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { color: hsl(219, 44%, 51%);
    text-decoration: none; 
}

footer{display: flex;
    margin-top: 180px;

}